<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <img src="   https://cdn-icons-png.flaticon.com/512/15683/15683752.png " width="256" height="256" alt="" title="" class="img-small">
    <h1 class="display-3">Book Finder</h1>
    <p class="lead">Create a seamless experience on our Book Finder website with an easy login and registration process. Access personalized features, save searches, and explore a world of books effortlessly</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>
<div class="container">
  <footer class="d-flex flex-wrap justify-content-center align-items-center py-5 mt-5">
      <div class="col-md-4 d-flex justify-content-center align-items-center">
          <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Book Finder , All rights reserved</span>
      </div>
  </footer>
</div>

<%- include('partials/footer') %>
